@if (Model != null && Model.GetType() != typeof(Post))
{
<div class="sidebar-module sidebar-about">
    <h3>ABOUT</h3>
    <div class="sidebar-body">
        <div class="face"><img src="@ViewBag.AvatarUrl"></div>
        <div>
            <a href="https://mvp.microsoft.com/zh-cn/mvp/Yisheng%20%20Zheng-5001885" yuuko-static><img src="~/assets/Default/images/mvp.png" alt="微软最有价值专家" class="mvp" /></a>
        </div>
        <p><a href="@ViewBag.AboutUrl">Read more</a></p>
    </div>
</div>
}